[Unit]
Description=Digital Signage periodieke presentatie-refresh

[Timer]
OnBootSec=300s
OnUnitActiveSec=300s
AccuracySec=30s
Unit=digitalsignage-refresh.service

[Install]
WantedBy=timers.target
